<template>
  <div>
    <input type="file" id="file" accept=".csv" @change="handleFileUpload">
    <p v-if="error.length > 0">{{ error }}</p>
  </div>
</template>
<script>
export default {
  name: 'DecodeFile',
  data () {
    return {
      error: '',
      fileNameDownload: ''
    }
  },
  methods: {
    handleFileUpload (event) {
      this.error = ''
      this.fileNameDownload = ''
      const isInvalidFile = (!event.target.files ||
            !event.target.files.length ||
            event.target.files[0].name.substr(-4).toLowerCase() !== '.csv')
      if (isInvalidFile) {
        this.error = this.$t('error.invalidFile')
        return
      }
      // get content file and process
      const file = event.target.files[0]
      this.fileNameDownload = `decode_${file.name}`
      const reader = new FileReader()
      reader.onload = () => {
        this.processFile(reader.result)
      }
      reader.readAsText(file)
    },
    processFile (textFile) {
      const output = []
      const lines = textFile.replace(/\r/g, '').split('\n')
      lines.map(line => {
        const values = line.split(',')
        if (values.length === 3 && values[0]) {
          output.push({
            name: values[0],
            points: this.decodeNumericSistem(values[1], values[2])
          })
        }
      })
      const isNotDataProcess = !output.length
      if (isNotDataProcess) {
        this.error = this.$t('error.notDataProcess')
        return
      }
      // order from highest to lowest points
      output.sort((a, b) => a.points > b.points ? -1 : a.points < b.points ? 1 : 0)
      // generate content of the output file
      let csvOutpu = 'data:text/csv;charset=utf-8,'
      output.forEach(line => {
        csvOutpu += `${line.name},${line.points}\n`
      })
      this.downloadFile(csvOutpu)
    },
    decodeNumericSistem (numericSistem, value) {
      const isNotValidParameters = (!numericSistem || !value)
      if (isNotValidParameters) return 0
      let decodeValue = 0
      const base = numericSistem.length
      const aValue = [...value]
      aValue.forEach((val, key) => {
        decodeValue += numericSistem.indexOf(val) * (base ** (value.length - (key + 1)))
      })
      return decodeValue
    },
    downloadFile (data) {
      const encodedUri = encodeURI(data)
      const link = document.createElement('a')
      link.setAttribute('href', encodedUri)
      link.setAttribute('download', this.fileNameDownload)
      document.body.appendChild(link)
      link.click()
    }
  }
}
</script>
<style scoped>
p {
  color: #f80808;
}
</style>
