<template>
  <h1>{{ $t('title') }}</h1>
  <DecodeFile/>
</template>

<script>
import DecodeFile from '@/components/DecodeFile'

export default {
  name: 'App',
  components: {
    DecodeFile
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
